<h1>Edit Cuisine</h1>


<%= render 'formedit' %>


<!-- <h3>Do you want to be a seller?</h3><button id="show">Yes</button><br/>
<div id="seller_profile"><%#= render 'sellerprofile' %></div> -->


<%= link_to 'Back', cuisines_path %>



<p>Find me in app/views/cuisines/edit.html.erb</p>


