<p>Find me in app/views/meals/index.html.erb</p>

<h1>The current list of meals are:</h1>


<% @meals.each do |meal| %>
  <%= meal.meal_name %>
  <%= link_to 'Edit', edit_meal_path(meal) %>
  <%= link_to 'Destroy', meal, method: :delete, data: {confirm: 'Are you sure?'}%><br/>
<% end %>

<br/>
<br/>
<%= link_to 'Add Dish', new_meal_path %>

