<%= link_to "logout", '/logout' %>

<h1>Meals#show</h1>

<h1>This is the show page of a particular posted meal</h1>


<p>Find me in app/views/meals/show.html.erb</p>



<% if @auth.is_seller && @auth.meals %>
  <%= @meal.meal_name %>
  <%= link_to 'Edit Meal', edit_meal_path %>

<% end %>