<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="FOR" content="Give your leftovers a second chance">
  <meta name="keywords" content="homemade, leftovers,">
  <link href='http://fonts.googleapis.com/css?family=Average' rel='stylesheet' type='text/css'>

  <script src="http://code.jquery.com/jquery-latest.min.js"></script>
  <title>FOR</title>
    <%#= stylesheet_link_tag    "application", :media => "all" %>
    <%#= javascript_include_tag "application" %>
    <%#= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=#{GOOGLEKEY}&sensor=false" %>
  </head>
  <body>

  <%= yield %>

  </body>
</html>




